#follower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  z-index: 1000;
  transition: transform ease 0.3s;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
  mix-blend-mode: difference;

  span {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    transform: scale(0);
  }
  &.is-active {
    transform: scale(2) translate3d(-25%, -25%, 0);
  }
  &.is-active-profile {
    transform: scale(2) translate3d(-50%, -50%, 0);
  }
  &.is-active-menuicon {
    transform: scale(2) translate3d(-50%, 0, 0);
  }
}
