.c-menuicon {
  position: fixed;
  bottom: px2rem(20);
  right: px2rem(20);
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: $text;
  font-size: px2rem(16);
  z-index: 101;
  box-sizing: border-box;
  padding: px2rem(8) px2rem(16);
  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '←';
    display: inline-block;
    font-size: px2rem(20);
    transition: 0.2s;
    margin: 0 px2rem(4) 0 0;
  }

  &.open {
    &::before {
      transform: rotate(180deg);
    }
  }
}
