.p-article {
  .post {
    display: block;
    margin: px2rem(80) 0 0;
    width: 80%;

    &:first-child {
      margin: 0;
    }

    .c-thumbnail {
      img {
        filter: grayscale(100%);
        transition: 1s;
      }
      &:hover {
        img {
          filter: grayscale(0%);
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}
